// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 3.5rem;
}

// Header padding accounts for the height of the navbar
header {
    padding-top: 6rem + 3.5rem;
    padding-bottom: 6rem;
}

// Section padding
section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

#about {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Ccircle cx='2' cy='2' r='1' fill='%23da291c' /%3E%3Ccircle cx='6' cy='2' r='1' fill='%23da291c' /%3E%3Ccircle cx='2' cy='6' r='1' fill='%23da291c' /%3E%3Ccircle cx='6' cy='6' r='1' fill='%23da291c' /%3E%3C/svg%3E");
}